@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #A6A6A6;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.left_nav{
    display: flex;
    align-items: center;
}

.logo{
    cursor: pointer;
    width: 25%;
    padding-right: 15px;
}

.nav_links {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav_links li {
    display: inline-block;
    padding: 0 10px;
}

.nav_links li, a{
    transition: all 0.3s ease 0s;
}

.nav_links li, a:hover{
    text-decoration: none;
    color: #004AAD;
}

.right_nav{
    display: flex;
    align-items: center;
}

.right_nav img {
    cursor: pointer;
    width: 50%;
}

header button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button:hover{
    background-color: rgba(0, 136, 169, 0.2);
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

/* ------------------------------------------------------- MAIN ----------------------------------------------------- */

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}
  
.left-content {
    padding: 20px;
    font-size: 24px; /* Adjust font size as needed */
    span {
        font-weight: bold;
        color: #007bff; /* Adjust text color as needed */
    }
}
  
/* Right Content Styles */
.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .image-container {
        width: 100%;
        text-align: center;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .image-selector {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .square {
            width: 30px;
            height: 30px;
            background-color: #ccc; /* Inactive square color */
            margin: 0 10px;
            cursor: pointer;
            &.active {
                background-color: #007bff; /* Active square color */
            }
        }
    }
}