@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*
    ADD BG TESTING
*/

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #A6A6A6;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.left_nav{
    display: flex;
    align-items: center;
}

.logo{
    cursor: pointer;
    width: 30%;
    margin-right: -60px;
}

.nav_icons {
    width: 80.0px;
    height: 52.0px;
    margin: 0 -10px;
    padding: 0;
}

.nav_links {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav_links li {
    display: inline-block;
    padding: 0 10px;
}

.nav_links li, a{
    transition: all 0.3s ease 0s;
}

.nav_links li, a:hover{
    text-decoration: none;
    color: #004AAD;
}

.right_nav{
    display: flex;
    align-items: center;
}

.right_nav img {
    cursor: pointer;
    width: 50%;
}

header button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button:hover{
    background-color: rgba(0, 136, 169, 0.2);
}

/* ------------------------------------------------------- INTERLINK ----------------------------------------------------- */

.intText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.intText h1{
    margin: 0 auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px; /*ex.128*/
    color: #004AAD;
}

/* ------------------------------------------------------- MAIN ----------------------------------------------------- */

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    /*background-color: #A6A6A6;*/
}
  
.left-content {
    margin: auto;
    align-items: center;
    text-align: center;
}

.left-content h1 {
    font-size: 110px; /*ex.128*/
    color: #004AAD;
    margin-top: 0; /* Remove default margin */
    margin-bottom: -15px;
}

.left-content h3 {
    font-size: 42px;
    color: #004AAD;
}

.search-form {
    font-size: 42px;
    margin-top: 20px;
}

.input-container {
    width: 100%;
    max-width: 600px; /* Adjust the max width as needed */
    margin: 10px auto; /* Center horizontally */
    display: flex; /* Use flexbox to layout items */
    justify-content: space-between; /* Space items horizontally */
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    text-align: left; /* Align input text to the left */
}

.input-container input {
    flex: 1; /* Allow inputs to grow and take available space */
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 15px;
}

.button-container {
    width: 100%;
    max-width: 550px;
    margin: 20px auto; /* Center horizontally */
}

button[type="submit"] {
    width: 90%;
    padding: 5px 15px;
    background-color: #004AAD;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 30px;
    cursor: pointer;
}
  
/* Right Content Styles */
.right-content {
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-shape {
    position: relative;
    width: 700px; /* Adjust width as needed */
    height: 500px; /* Adjust height as needed */
    overflow: hidden;
    border-radius: 35px;
}

/*.blurred-image {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-60%, -50%);
    filter: blur(0px);
    z-index: 1;
}*/

.blurred-image {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 65%;
    height: 80%;
    filter: blur(0px);
    border-radius: 20px;
    z-index: 1;
}

.blurred-image img {
    border-radius: 50px;
}

.png-image {
    position: absolute;
    top: 50%; /* Center the image vertically */
    left: 65%; /* Center the image horizontally */
    transform: translate(-50%, -50%); /* Center the image both horizontally and vertically */
    max-width: 100%; /* Adjust the maximum width as needed */
    max-height: 100%; /* Adjust the maximum height as needed */
    animation: moveRight 5s infinite;
    z-index: 2; /* Ensure the PNG image is above the blurred image */
}

@keyframes moveRight {
    0% {
        left: 65%; /* Initial position */
    }
    75% {
        left: 75%; /* Initial position */
    }
    100% {
        left: 75%; /* Final position */
    }
}

.doctor-info {
    position: absolute;
    top: 15%; /* Adjust the top position as needed */
    left: 10%; /* Adjust the right position as needed */
    width: 45%;
    background-color: #fafafa; /* Background color for the info box */
    color: #000; /* Text color */
    padding: 15px;
    border-radius: 10px;
  }
  
  .doctor-info h2 {
    color:#004AAD;
    font-size: 24px;
    margin: 0;
    margin-left: 10px;
  }
  
  .doctor-info p {
    font-size: 16px;
    margin: 5px 0;
    margin-left: 10px;
  }
  
  /*
  .doctor-info button {
    padding: 8px 15px;
    background-color: #004AAD;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }*/
  
  /* Adjust the z-index to ensure the info box is above the blurred image */
  .doctor-info {
    z-index: 2;
  }

#hr-vertical {
    background-color:black;
    color:black;
    -webkit-transform:rotate(90deg);
    width:100px;
    height:1px;
    border:2px;
}

/* ------------------------------------------------------- FOOTER ----------------------------------------------------- */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}